@font-face {
    font-family: Netflix;
    src: url(/trabalho7/Trabalho7_files/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Aharani;
    src: url(/trabalho8/font/Avenir\ Next\ LT\ Pro\ Regular.otf);
}









body{


background-color: rgb(255, 255, 255);
padding: 0 10%;





}


.navbar-nav {



padding-left: 85px;


}

.navbar-brand{


margin-left: 3.2%;

}




.nav-item .nav-link{

margin-right: 40px;
font-family: Arial, Helvetica, sans-serif;

    


}

.nav-item a.nav-link:hover{

    color: rgb(0, 0, 0);
    
        
    
    
    }




div.inicio hgroup {

margin-top: 4.5%;
margin-left: 3.5%;
font-family: Netflix;




}

div.inicio hgroup h1{


font-size: 28px;
color:#124b84;



}


div.trabalhos ul {

list-style: none;
border-bottom: 2px solid #124b84;;

} 

div.trabalhos ul li a {

text-decoration: none;
font-family: Netflix;
font-size: x-large;
color: #124b84;






}




.img-fluid{


border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;


}





div.inicio  {

    border-bottom: 2px solid #124b84;


}






figure  {



display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 40px;
margin-inline-end: 40px;
font-weight: bold;
}

div.inicio h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }


div.trabalhos ul{

padding: 30px;
}


div.trabalhos li {

padding: 5px;
}

div.trabalhos a:hover{


color: rgb(61, 61, 60);
transition: 0.4s;




}

.contato h1{

margin-top: 3%;
font-size: 25px;
font-family: Netflix;
margin-left: 3%;
color: #124b84;
margin-bottom: 3%;



}

.text-dark{

text-decoration: none;


}






