@font-face {
    font-family: Netflix;
    src: url(/arquivos/Fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'navbar';
    src: url(/arquivos/Fonts/Oswald-Bold.ttf);
}



*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans',sans-serif;


}




body{

   height: 100vh;
    background-color:#0e0f1b;
    background-image: url('/arquivos/images/download.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;




}

li{
    list-style: none;
    padding: 5px;

}

a{

text-decoration: none;
color: #0e0f1b;
font-size: 1.2rem;
font-family: 'navbar';

}


header{

position: relative;
padding: 0 2rem;



}

.navbar{

width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;




}


.navbar .logo a{


font-size: 2.8rem;
font-weight: bold;

}


.navbar .links {

display: flex;
gap: 2rem;

} 


.navbar .toggleBtn{


font-size: 1.5rem;
cursor: pointer;
display: none;



}

.navbar .actBtn{

background-color: #0e0f1b;
color: rgb(255, 255, 255);
padding: 0.5rem 1rem;
border: none;
outline: none;
border-radius: 20px;
font-weight: bold;
cursor: pointer;



}



.navbar .actBtn:hover{

background-color: white;
color: #000000;
transition: 0.2s;








}

.navbar .links li a:hover{

color: rgb(255, 255, 255);
transition: 0.1s;



}





/*responsividade */
@media(max-width:680px){


.navbar .links,
.navbar .actBtn{

    display: none;
}

.navbar .toggleBtn{

display: block;

}

header .dropdownMenu {

    display: block;
}



}



@media(max-width:440px){


header .dropdownMenu{


right: 3rem;
width: auto;


}

 picture .pic img{
max-width: 300px;
max-height: 300px;
width: auto;
height: auto;



}


main #phrase h1{

    font-size: 2rem;
        
        
    
    
    
    }
    
main #phrase p{
    
    
    font-size: 0.8rem;
    
    
    
    }






}



@media(max-width:300px){


picture .pic img{
        max-width: 220px;
        max-height:220px; 
        width: auto;
        height: auto;
        
        
        
        }
        
        
main #phrase h1{
        
            font-size: 1.6rem;
                
                
            
            
            
            }
            
main #phrase p{
            
            
      display: none;     
        
        
        
        
        
}

.navbar .logo a{


    font-size: 2rem;
   
    
    }





}




@media(max-width:220px){


    main #phrase h1{
        
       font-size: 1rem;

    }



    picture .pic img{
        max-width: 160px;
        max-height: 160px; 
        width: auto;
        height: auto;
        
        
        
        }





}
/*dropdownmenu*/
.dropdownMenu {
    height: 0;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 388px;
    background: rgba(255, 255, 255, 0.1);
  
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    
    }
    
.dropdownMenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    
.dropdownMenu .actBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    
    }
    

.dropdownMenu.open{

height: 250px;



}


picture{
display: flex;
justify-content: center;
align-items: center;

}

.icons{

display: grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;


}


section#phrase{



display: flex;
justify-content: center;
align-items: center;
color:#000000;
flex-direction: column;




}

#phrase h1{

font-size: 3rem;
margin-bottom: 1rem;
    font-family: 'navbar';
    margin: 0%;
    



}

#phrase p{

font-family: 'navbar';
font-size: 1rem;



}







    





