* {
margin: 0;
padding: 0;
box-sizing: border-box;


}


body{

background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148810353.jpg?w=2000');
background-repeat: no-repeat;
background-position: cover;
padding: 0 4rem;


}



.container-slider{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
gap: 1rem;
min-height: 100vh;


}

.container-image{
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 700px;

}


.image{
opacity: 0;
position: absolute;
width: 100%;
transition: opacity .2s;
border-radius: 1rem;

}

#leftBtn,#rightBtn{
width: 30px;
height: 30px;
border: none;
background-color: transparent;
cursor: pointer;

}

#leftBtn{

transform: rotate(180deg);


}

.on{


opacity: 1;






}


.mainText{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

header{


display: flex;
align-items: center;
justify-content: space-around;

}

.navbar{
    
    display: flex;
}

a{
display: flex;
text-decoration: none;
align-items: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.3rem;
color: black;

}

h1{

font-size: 3rem;


}

h5{

font-size: 20px;

}