/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9cbfca;
}
.container {
  position: relative;
  height: 420px;
  width: 320px;
  background-image: url("/Images/vintageWater.gif");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.heart {
  
  position: relative;
  left: 35%;
  right: 35%;
  top: 35%;
  color: rgb(245, 0, 0);
  font-size: 100px;
  opacity: 0;
  

}
.heart.active {
  opacity: 1;
  transition: 0.8s;
}
