body{

    background-color: #002434;
    color: white;
    margin: 0px;
    padding: 0 20%;
    font-family: Verdana;
    
    
    }



header{

display: flex;
justify-content:space-between



}


.logo span{

color:#0076aa;


}

.logo{

font-family: Verdana;
font-size: 70%;


}


.itens {

gap: 2%;
display: flex;





}


a{
text-decoration: none;
color: white;
font-size: 0.93rem;


}

li{
list-style: none;

}


