



@font-face {
    font-family: 'globoEsporte' ;
    src: url(rede-globo-bold.ttf);
}


body{

background-image: url('https://thumbs.dreamstime.com/b/campo-da-grama-7171999.jpg');
background-repeat: repeat;
padding-left: 2%;


}


.title{

font-family:'globoEsporte';
color: rgb(255, 255, 255);


}


p{

color: white;
text-align: left;
font-size: larger;




}

h1{

color: rgb(255, 255, 255);
font-family: 'globoEsporte';
font-size: 260%;



}

h3{

    color: rgb(255, 255, 255);
    font-family: 'globoEsporte';
    font-size: 150%;


}

#team-list{


font-family: 'globoEsporte';
font-size: 160%;
color: white;



}