*{

margin: 0;
padding: 0;
box-sizing: border-box;
}


body{


background-image: url('https://wallpaper.dog/large/5486501.png');
background-repeat: no-repeat;
background-size: cover;

font-family: 'Oswald', sans-serif;





}

a{
text-decoration: none;
color: black;
font-size: 1.5rem;
font-weight: bold;


}

.navbar{

display: flex;
align-items: center;
justify-content: center;


}

a:hover{


color: chartreuse;
transition: 0.3s;


}



#devForm{


position: relative;
top: 4rem;
padding: 0 3rem;

}



label{

font-size: 1.5rem;


}


button{

font-size: 1rem;

}


input{




}